@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url("../public/images/bg-desktop.svg");
  background-size:  cover;
  background-color: hsl(257, 40%, 49%);
}

@media screen and (max-width: 768px) {
  body{
    background-image: url("../public/images/bg-mobile.svg");
    background-size:  cover;
    background-color: hsl(257, 40%, 49%);
  }
}